.task_details_container {
  width: 80%;
  max-width: 600px;
  margin: 10% auto 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.task_details_container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="datetime-local"],
form textarea,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form textarea {
  resize: none;
  height: 100px;
}

form button[type="submit"] {
  padding: 12px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

strong {
  font-weight: bold;
}

.edit_button {
  color: white;
  margin-right: 10px;
  background-color: #2196f3;
}

.edit_button:hover {
  background-color: #1e88e5;
}

.delete_button {
  color: white;
  margin-right: 10px;
  background-color: #f44336;
}

.delete_button:hover {
  background-color: #e53935;
}

@media (max-width: 600px) {
  .task-details-container {
      padding: 15px;
  }
  
  button {
      width: 100%;
      margin-bottom: 10px;
  }
}
