.auth_body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth_form {
    transform: translateY(-10%);
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth_h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.auth_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.auth_input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.auth_submit_button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.auth_submit_button:hover {
    background-color: #0056b3;
}

.auth_home_button {
    width: 100%;
    padding: 10px 20px;
    background-color: #7c8185;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.auth_home_button:hover {
    background-color: #5a6268;
}

.auth_a {
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

@media (max-width: 480px) {
    form {
        padding: 20px;
        gap: 15px;
    }

    button {
        font-size: 14px;
    }
}